<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DrivePal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DrivePal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/img/logo.png" width="150" alt="DrivePal Logo" style="padding: 30px; border-radius: 50%;">
            </div>
            <ul class="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/Home/SeeAllInstructors">Instructors</a></li>
                <li><a href="/Home/Resources">Resources</a></li>

                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Learner"))
                    {
                        <li><a href="/Booking/MyBookings">See your booked classes</a></li>
                        <li><a href="/DrivingClass/Index">See all classes</a></li>
                        <li><a href="/Chat/Chats">Inbox</a></li>

                    }
                    if (User.IsInRole("Instructor"))
                    {
                        <li><a href="/DrivingClass/Calendar">Manage Classes</a></li>
                        <li><a href="/Booking/ShowBookedClasses">Booked Classes</a></li>
                        <li><a href="/Chat/Chats">Inbox</a></li>
                    }
                    if (User.IsInRole("Admin"))
                    {
                        <li><span>Manage:</span></li>
                        <li><a href="/Admin/StaffsList">Staff</a></li>
                    }
                }
                <partial name="_LoginPartial" />
            </ul>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            &copy; 2024 - DrivePal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/index.global.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>