@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
<form asp-action="GenerateLessons">
    <h1>Auto Generate 1 Hour Lesson Slots</h1>
    <div class="form-group">
            <div class="form-group">
                <label for="price">Price per Lesson (£)</label>
                <input type="number" id="price" name="price" step="0.01" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="weeks">Number of Weeks (1-4)</label>
                <input type="number" id="weeks" name="weeks" min="1" max="4" class="form-control" required>
            </div>
        <label>Working Days</label>
        <div>
            <label><input type="checkbox" name="workingDays" value="Monday"> Monday</label>
            <label><input type="checkbox" name="workingDays" value="Tuesday"> Tuesday</label>
            <label><input type="checkbox" name="workingDays" value="Wednesday"> Wednesday</label>
            <label><input type="checkbox" name="workingDays" value="Thursday"> Thursday</label>
            <label><input type="checkbox" name="workingDays" value="Friday"> Friday</label>
            <label><input type="checkbox" name="workingDays" value="Saturday"> Saturday</label>
            <label><input type="checkbox" name="workingDays" value="Sunday"> Sunday</label>
           
        </div>
    </div>
    <div class="form-group">
       
        <label for="startTime">Start Time</label>
        <input type="time" id="startTime" name="startTime" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="endTime">End Time</label>
        <input type="time" id="endTime" name="endTime" class="form-control" required>
    </div>
    <div class="form-group">
        <input type="submit" value="Generate Lessons" class="btn btn-primary">
    </div>
</form>
</body>
