<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/img/logo.png" width="100" alt="DrivePal Logo" style="padding: 30px;">
            </div>
            <ul class="navbar">
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/instructors">Instructors</a></li>
                <li><a href="/resources">Resources</a></li>
                <li><a href="/signup">History</a></li>
                <li><a href="/signup">Signup/Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <section class="info-box">
                <div class="box-content">
                    <h2>Welcome to DrivePal</h2>
                    <p>DrivePal is your ultimate destination for connecting with experienced driving instructors to kickstart your journey towards becoming a skilled and confident driver.</p>
                    <img src="/img/wheel.png" width="100" alt="Wheel Image">
                </div>
            </section>
            
            <section class="info-box">
                <div class="box-content">
                    <h2>Personalised Learning Experience</h2>
                    <p>Our industry-leading questionnaire matches learners with instructors who meet their specific needs and preferences, ensuring personalised instruction tailored to your learning style.</p>
                    <img src="/img/learning.png" width="100" alt="Learning Image">
                </div>
            </section>
            
            <section class="info-box">
                <div class="box-content">
                    <h2>Comprehensive Test Preparation</h2>
                    <p>DrivePal offers a comprehensive range of resources to help you prepare for your driving tests, including theory and practical exam resources.</p>
                    <img src="/img/test.png" width="100" alt="Preparation Image">
                </div>
            </section>
            
            <section class="info-box">
                <div class="box-content">
                    <h2>Buying and Insuring Your First Car</h2>
                    <p>Looking to buy your first car? DrivePal provides valuable information and tips about buying and insuring your first car, empowering you to make informed decisions.</p>
                    <img src="/img/keys.png" width="100" alt="Buying Image">
                </div>
            </section>
            
            <section class="info-box">
                <div class="box-content">
                    <h2>Track Your Progress</h2>
                    <p>Track your driving progress and view your improvement over time with DrivePal's intuitive progress tracking feature, available to all users.</p>
                    <img src="/img/progress.png" width="100" alt="Progress Image">
                </div>
            </section>
            
            <section class="info-box">
                <div class="box-content">
                    <h2>Join DrivePal</h2>
                    <p>Connect with instructors and access exclusive resources.</p>
                    <a href="/signup" class="button">Sign Up</a>
                    <a href="/signup" class="button">Log In</a>
                </div>
            </section>
        </div>
        
        
    </main>
    <footer>
        <p>&copy; 2024 DrivePal. All rights reserved.</p>
    </footer>
</body>

</html>
