<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <script src="/js/resources.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <div id="sidebar-container">
            <div id="sidebar">
                <ul>
                    <li><a href="#" onclick="showContent('insurance')">Insurance</a></li>
                    <li><a href="#" onclick="showContent('theory')">Theory Test</a></li>
                    <li><a href="#" onclick="showContent('practical')">Practical Exam</a></li>
                    <li><a href="#" onclick="showContent('buying')" class="buying-tab">Buying Your First Car</a></li>
                </ul>
            </div>
        </div>             
            
        <div id="content">
            <p>Select an option from the sidebar for advice and help to guide you on your driving journey!</p>
            <img src="/img/leftarrow.png" width="100px"/>
        </div>
    </main>
</body>
</html>
