@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/signin.css" rel="stylesheet">
    <script src="/ATU6Ko7bbGyNuIO5" type="text/javascript"></script>
</head>
<body class="text-center">
    <div class="container">
        <div id="formContent">
            <img class="mb-3" src="/img/logo.png" alt="" width="72" height="72"> <!-- adjusted margin-bottom here -->
            <h1 class="mb-4 font-weight-normal">Log in</h1> <!-- adjusted margin-bottom if needed -->
            <form id="account" method="post" class="form-signin">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com">
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password">
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe">
                        <input class="form-check-input" asp-for="Input.RememberMe">
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <button type="submit" class="btn btn-lg btn-success btn-block">Log in</button>

            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
<style>
    #formContent {
        /* Align items in the center horizontally */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Position closer to the top */
        margin-top: 50px; /* You can adjust this value as needed */
    }

    img {
        /* Adjust as needed */
        margin-bottom: 10px; /* Space between the image and the h1 */
    }
</style>