@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Thank you for registering your account with us. Please login using your credentials.
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

